<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 14</title>
</head>
<body>
    <h3>Registration Form</h3>
    <form action="" method="POST">
    <p>Name: <input type="text" name = "name" /> </p>
    <p>Email: <input type="text" name = "email" /> </p>
    <p>Contact <input type = "text" name = "contact" /></p>  
    <p>Pin code <input type ="text" name = "pin" /></p> 
    <p><input type="submit" value="Submit"/> </p> 
    </form>
</body>
</html>